.site-header {
    height: 120px;
    background: -moz-linear-gradient(140deg,#7ab2e1 0%,#0050a1 100%);
    background: -webkit-linear-gradient(140deg,#7ab2e1 0%,#0050a1 100%);
    background: -ms-linear-gradient(140deg,#7ab2e1 0%,#0050a1 100%);
    background: linear-gradient(140deg,#7ab2e1 0%,#0050a1 100%);
    box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.2);
    border-bottom: 5px solid #e5e5e5;
}

.sideMenuScroll {
    display: none;
}

 ::-webkit-scrollbar .SideNav { 
    display: none; 
}
.SideNav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

.site-header .image{
    float: right;
    display: inline-block;
    margin-top:10px;
    margin-right:50px;
    -webkit-transition: scale 0.5s; /* For Safari 3.1 to 6.0 */
    transition: transform  0.5s;
}
.SideNav .image{
    margin-left:70px;

    display: inline-block;
    -webkit-transition: scale 0.5s; /* For Safari 3.1 to 6.0 */
    transition: transform  0.5s;
}


.SideNav .txt{
    color: white; 
    
    cursor: pointer;
    text-align: center;
}

.site-header .addition{
    color: white;
    display: inline-block;
    text-align: center;
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
    line-height: 20px;
    font-size: 20px;
}

.post .image{
    max-width:100%;
     height:auto !important;
}

.site-header .txt {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    line-height: 40px;
    margin-top:20px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.SideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

@media screen and (max-width: 630px) {

    .site-header .txt {
        display: inline-block;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 40px;
        line-height: 20px;
        
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;

    }
    .site-header .addition{
        color: white;
        display: inline-block;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        line-height: 15px;
        font-size: 10px;
    }
    .site-header .image{
        display:  none;

    }

}

.menuIcon{
    float: left;
    margin-left: 3%;
    margin-top: 44px;
    display: none;
    cursor: pointer; 
    
    position: absolute;

}
@media screen and (max-width: 1200px) {

    .col-sm-3{
        display: none;
    }
    .menuIcon{
        margin-left: 3%;
        
        display: inline-block;
    }
    .site-header .image{
        display:  none;

    }


}
@media screen and (max-width: 1020px) and(min-width: 631px) {

    .site-header .txt {
        display: inline-block;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        line-height: 80px;
        
        font-size: 40px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;

    }
    .site-header .addition{
        color: white;
        display: inline-block;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        line-height: 15px;
        font-size: 20px;
    }
    

}


@media screen and (min-width: 1201px) {

    .site-header .image{
        display: inline-block;
    }

}



.site-header .image:hover,.SideNav .image:hover {
    transform: scale(1.05,1.05);

}


.site-header .txt:hover, .site-header .addition:hover, .site-header .txt:link, .site-header .addition:link, .SideNav .closebtn:hover, .SideNav .closebtn:link{
    text-decoration: none;
}

.SideNav .txt:hover, .SideNav .txt:link{
    text-decoration: none;
}


.post img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post b {
    display: block;
    margin-bottom: 5px;
}
.post small {
    color: rgba(0, 0, 0, 0.5);
}

.col-sm-3-tkmai {
    padding: 15px;
    background: #e7e7e7;
    border-radius: 5px;
}

.col-sm-3-tkmai h2 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    padding-bottom: 10px;
    margin-top: 10px;
}
.col-sm-6 {
    padding-bottom: 40px;
}

.col-sm-6 .future {
    float: right;
}

.site-footer {
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
    color: white;
    background: -moz-linear-gradient(140deg,#7ab2e1 0%,#0050a1 100%);
    background: -webkit-linear-gradient(140deg,#7ab2e1 0%,#0050a1 100%);
    background: -ms-linear-gradient(140deg,#7ab2e1 0%,#0050a1 100%);
    background: linear-gradient(140deg,#7ab2e1 0%,#0050a1 100%);
    box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.2);
    border-top: 5px solid #e5e5e5;
}
.site-footer .mail {
    float: right;
    color: white;
}
.site-footer .mail:hover {
    color: white;
}

li {
    display: inline-block;
}



.nav {
    font-weight: bold;
}


/* .site-header { */
/*     height: 120px; */
/*     background: #217ec2; */
/* } */
/* .site-header .logo { */
/*     padding: 0 80px; */
/*     display: block; */
/*     line-height: 120px; */
/*     font-size: 40px; */
/*     color: white; */
/*     font-weight: bold; */
/*     text-transform: uppercase; */
/*     letter-spacing: 2px; */
/* } */
/* .site-header .logo:hover { */
/*     text-decoration: none */
/* } */

/* .post img { */
/*     width: 100%; */
/*     margin-bottom: 10px; */
/* } */
/* .post b { */
/*     display: inline-block; */
/*     margin-bottom: 5px; */
/* } */